@import "variables";
@import "reset";




body {
	background: $bg-color;
	font: {
	    family: 'HelveticaNeueCyr-Light', sans-serif;
	    size: 13px;
	  }
	color: $text-color;
}

.bnt {
	border: 0;
	background: #e45555;
	@include border-radius(2px);
	font: {
		family: 'HelveticaNeueCyr-Roman';
	    size: 15px;
	}
	color: #fff;
	padding: 7px 21px;
	line-height: 1.48;
	display:inline-block;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-image:none;
	overflow: vissible;
	&:hover {background: #971212;}
}


		
		


.wrapper {
	

}
.inner {
	max-width: 1205px;
	margin: 0 auto;
	&:before,&:after {content: ""; display: table;}
	&:after {clear: both;}
}

.header {
	&__top {
		padding: 0 0 27px 0;

	}
	&__col1 {float: left;}
	&__col2 {float: right;}
	&__bottom {
		background: #f8f8f8;
		border: 1px solid #f2f2f2;
		border-width: 1px 0;

	}
}
.topMenu {
	&__item {
		padding: 42px 0 0 0;
		float: left;
		border-bottom: 1px solid #f2f2f2;
	}
	&__item:first-child > a {margin-left: 0;}
	&__link {
		font-family: 'HelveticaNeueCyr-Roman';
		border-bottom: 1px solid #f2f2f2;
		display: block;
		padding: 0 0 7px 0;
		margin-left: 18px;
		position: relative;
		top: 1px;
		&:after {
			content: "";
			width: 100%;
			height: 1px;
			position: absolute;
			left: 0;
			bottom: 0;
			background: #262626;
			display: none;
		}
		&:hover {
			text-decoration: none;
			border-bottom-color: #262626;
			color: #262626;
			&:after {display: block;}

		}

	}
	&__item--activ {
		> a {
			border-bottom-color: #262626;
			color: #262626;
			&:after {display: block;}
		}
		
	}
	
}

.order {
	&__item {
		padding: 43px 0 0 0;
		float: left;
		margin: 0 0 0 36px;
	}
	&__item--activ {
		> a {color: #262626;}
	}
	&__link {
		font-family: 'HelveticaNeueCyr-Roman';
		position: relative;
		&:after {
			content: "";
			background: url(../img/mx.png) no-repeat;
			position: absolute;
			left: 0;
		}
		&:hover {
			text-decoration: none;
		}
	}
	&__link--login {
		padding-left: 37px;
		&:after {
			background-position: -200px 0;
			width: 22px;
			height: 21px;
			top: -4px;

		}
		&:hover {
			&:after {background-position: -200px -21px;}
		}
	}
	&__link--cart {
		padding-left: 43px;
		&:after {
			background-position: -300px 0;
			width: 28px;
			height: 29px;
			top: -9px;

		}
	}
}

a.logo {
	background: url(../img/mx.png) no-repeat;
	width: 178px;
	height: 63px;
	text-decoration: none;
	text-indent: -9000px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 15px;
	margin-left: -89px;
}

.nav {}

.menu {
	&__item {
		float: left;
		margin: 0 0 0 21px;
	}
	&__item:first-child {margin-left: 0;}
	&__link {
		font: {
			family: 'HelveticaNeueCyr-Medium';
		    size: 15px;
		}
		display: block;
		padding: 15px 0 17px 0;
		position: relative;
		top: 1px;
		&:hover {
			color: #262626;
			border-bottom: 2px solid #262626;
			text-decoration: none;
			padding-bottom: 15px;
		}
	}
	&__item--activ {
		> a {
			color: #262626;
			border-bottom: 2px solid #262626;
			text-decoration: none;
			padding-bottom: 15px;
		}
	}
	&__item--cur {
		> a {
			color: #e45555;
			&:hover {
				border-bottom: 0;
				padding-bottom: 17px;
				color: #d72f2f;

			}
		}
	}
}

.searchForm {
	margin: 9px 0 0 0;
	position: relative;
	&__field[type="text"] {
		width: 310px;
		padding-right: 65px;
	}
	&__field[type="text"]::placeholder {color: #b2b2b2;}
	&__btn {
		position: absolute;
		right: 0;
		top: 0;
		background: #e45555;
		@include border-radius(2px);
		border: 0;
		width: 60px;
		height: 32px;
		text-indent: -9000px;
		overflow: hidden;
		&:hover {background: #971212;}
		&:after {
			content: "";
			background: url(../img/mx.png) -400px 0 no-repeat;
			width: 20px;
			height: 20px;
			position: absolute;
			left: 50%;
			margin-left: -10px;
			top: 6px;		
		}
	}
}


.main {}
.mainSlider {
	&__title {
		font: {
			family: 'HelveticaNeueCyr-Roman';
		    size: 34px;
		}
		padding: 14px 0;
		margin: 0;
		text-align: center;
	}
}
.slider-wrap {
	border: 1px solid #b3b3b3;
	border-left-color: #fff;
	border-right-color: #fff;
}

#slider {
	
	.item {
		a {
			display: block; 
			text-decoration: none;
		}
		img {
			border-right: 1px solid #b3b3b3;
		}
	}		
}
#slider {
	.owl-nav {
	  [class*='owl-'] {top: 170px;}
	}
}


 /*
 *  Default theme - Owl Carousel CSS File
 */
.owl-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  [class*='owl-'] {
  	width: 60px;
	height: 60px;
	position: absolute;
	text-indent: -9000px;
	overflow: hidden;
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		@include border-radius(50%);
		background: #fff;
		opacity: 0.5;
		position: absolute;
		z-index: 1;
	}
	&:after {
		content: "";
		background: url(../img/mx.png) no-repeat;
		width: 18px;
		height: 32px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -9px;
		margin-top: -16px;
		z-index: 2;
			
	}
  }
  [class*='owl-prev'] {
  	left: 30px;
  	&:after {
  		background-position: -500px -32px;
  	}
  	&:hover {
  		&:after {
  			background-position: -500px -100px;
  		}
  	}
  }
  [class*='owl-next'] {
  	right: 30px;
  	&:after {
  		background-position: -500px 0px;
  	}
  	&:hover {
  		&:after {
  			background-position: -500px -64px;
  		}
  	}
  }
  [class*='owl-']:hover {
  	&:before {
  		opacity: 0.8;
  	}
  	
  }

  .disabled {
    cursor: default;
  }

}


.benefits {
	&:before,&:after {content: ""; display: table;}
	&:after {clear: both;}
	&__box {
		float: left;
		width: 33.3%;
		padding: 0 2.30% 37px 2.30%;
	}
	&__title {
		background: #f8f8f8;
		border: 1px solid #f3f3f3;
		width: 102px;
		height: 102px;
		@include border-radius(50%);
		margin: 42px auto 0 auto;
		text-align: center;
		> a {
			display: block;
			height: 100%;
			text-decoration: none;
			&:before {
				content: "";
				display: inline-block;
				min-height: inherit;
				height: 100%;
				vertical-align: middle;
			}
			[class*='ic__'] {
				background: url(../img/mx.png) no-repeat;
				display: inline-block;
				vertical-align: middle;
			}
			[class*='ic__delivery'] {
				width: 64px;
				height: 64px;
				background-position: 0 -100px;
			}
			&:hover [class*='ic__delivery'] {
				background-position: -100px -100px;
			}
			[class*='ic__drop'] {
				width: 74px;
				height: 50px;
				background-position: -200px -100px;
			}
			&:hover [class*='ic__drop'] {
				background-position: -300px -100px;
			}
			[class*='ic__brands'] {
				width: 55px;
				height: 47px;
				background-position: -400px -100px;
			}
			&:hover [class*='ic__brands'] {
				background-position: -400px -200px;
			}
		}
	}
	&__entry {
		h3 {
			padding: 27px 0 5px 0;
		}
		p {
			font-size: 15px;
			color: #828282;
			line-height: 1.6;
		}
	}

}

.catalog {
	&__title {
		border-top: 1px solid #f2f2f2;
		padding: 29px 0 27px 0;
	}
	.owl-nav {
	  [class*='owl-'] {top: 109px;}
	}
	&__box {
		padding: 0 0 18px 0;
	}
	&__link:link,&__link:visited {
		display: block;
		color: #262626;
	}
	&__link:hover,&__link:active,&__link:focus {
		text-decoration: none;
	}
	&__pic {
		position: relative;
	}
	&__discount {
		position: absolute;
		right: 10px;
		top: 10px;
		width: 46px;
		line-height: 46px;
		height: 46px;
		color: #fff;
		@include border-radius(50%);
		background: #e45555;
		text-align: center;
		font-style: normal;
		font: {
			family: 'HelveticaNeueCyr-Medium';
		    size: 14px;
		}
	}
	&__desc {
		font: {
			family: 'HelveticaNeueCyr-Roman';
		    size: 14px;  
		}
		padding: 7px 0 13px 0;
	}
	&__name {
		font-size: 13px;
		color: #b2b2b2;
		margin-bottom: 4px;
	}
	&__price {
		font: {
			family: 'HelveticaNeueCyr-Roman';
		    size: 14px;  
		}
		&--old {
			text-decoration: line-through;
		}
		&--new {
			color: #e45555;
		}
	}
}


.partners {
	border-top: 1px solid #f2f2f2;
	&__box {
		padding: 50px 0;
		> a {
			text-decoration: none;
			display: block;
			opacity: 0.5;
			&:before {
				content: "";
				display: inline-block;
				min-height: inherit;
				height: 100%;
				vertical-align: middle;
			}
			img {
				display: inline-block;
				vertical-align: middle;
				filter: grayscale(100%);
			}
			&:hover {
				opacity: 1.0;
				img {
					filter: grayscale(0);
				}
			}
		}
	}
}


.content {
	border-top: 1px solid #f2f2f2;
	padding: 0 0 12px 0;
	&--catalog {padding-bottom: 111px;}
	&__title {
		font-size: 21px;
		padding: 24px 0 8px 0;
	}
	&__heading {
		font: {
			family: 'HelveticaNeueCyr-Medium';
		    size: 14px;
		}
	}
	&__text {
		padding: 0 0 13px 0;
	}
}


.postambule {
	border-top: 1px solid #f2f2f2;
	&__title {
		padding: 24px 0 4px 0;
	}
	&__box {
		padding: 0 30px 0 0;
		p {
			font: {
				family: 'HelveticaNeueCyr-LightItalic';
			}
			color: #828282;
			line-height: 1.8;
		}
	}
	&__more {
		color: #262626!important;
		margin-left: 4px;
	}
	&__footer {
		padding: 4px 0 36px 0;
		&:before,&:after {content: ""; display: table;}
		&:after {clear: both;}
	}
	&__author {
		float: right;
		font: {
			family: 'HelveticaNeueCyr-LightItalic';
			size: 15px;
		}
	}
}

.rating {
	float: left;
	&__item {
		float: left;
		padding: 5px 5px 0 0;
		> a {
			text-decoration: none;
		}
	}
	&__star {
		background: url(../img/star.png) no-repeat;
		display: inline-block;
		width: 24px;
		height: 24px;
		&--default {
			background-image: url(../img/star--default.png);
		}
	}	

}


/* PRODUCT PAGE */
.patway {
	&__item {
		margin: 17px 0 0 0;
		display: inline-block;
		vertical-align: top;
		font: {
			family: 'HelveticaNeueCyr-Roman';
			}
		padding: 0 31px 0 24px;
		position: relative;
		&:first-child {
			padding-left: 0;
			&:before {display: none;}
		}
		&:before {
			content: "/";
			position: absolute;
			left: 0;
			top: 0;
			color: #828282;
				
		}
		a {
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.productWrap {
	padding: 32px 0 234px 0;
	&:before,&:after {content: ""; display: table;}
	&:after {clear: both;}
	&__col1 {
		width: 55.19%;
		float: left;
	}
	&__col2 {
		width: 39.83%;
		float: right;
	}
}

.productSlider {
	margin: 5px 0 0 0;
}

.product {
	&__title {
		font: {
			family: 'HelveticaNeueCyr-Roman';
		    size: 21px;
		}
		margin: 0;
	}
	&__id {
		font: {
			family: 'HelveticaNeueCyr-Roman';
		    size: 14px;
		}
		color: #969696;
	}
	&__name {
		font-size: 18px;
		color: #b2b2b2;
		padding: 23px 0 0 0;
		margin: 0;
	}
	&__price {
		font: {
			family: 'HelveticaNeueCyr-Bold';
		    size: 21px;
		}
		padding: 0 8px 0 0;
		&--old {
			text-decoration: line-through;
		}
		&--new {
			color: #e45555;
		}
	}
	&__model {
		margin: 0 0 0 65px;
		position: relative;
		top: -17px;
	}
	&__ask {
		padding: 4px 0 26px 0;
		font: {
			family: 'HelveticaNeueCyr-Roman';
		    size: 14px;
		}
		color: #e45555;
		margin: 0;
		line-height: 1.28;
	}
	&__form {
		width: 220px;
		.bnt {
			margin-top: 10px;
			width: 100%;
		}
	}

}

.tableSize {
	&__title {
		position: relative;
		font: {
			family: 'HelveticaNeueCyr-Roman';
		    size: 14px;
		}
		margin: 19px 0 0 5px;
		color: #828282;
		padding: 0 0 0 28px;
		&:before {
			content: "";
			background: url(../img/mx.png) -100px -200px no-repeat;
			width: 16px;
			height: 7px;
			position: absolute;
			left: 0;
			top: 7px;		
		}
	}
	&__list {
		dt {
			font: {
				family: 'HelveticaNeueCyr-Medium';
			    size: 14px;
			}
			text-transform: uppercase;
			padding: 22px 0 7px 0;
		}
		dd {
			padding: 3px 0 0 0;
			span {
				color: #828282;
			}
		}
	}
}

.listShare {
	padding: 17px 0 0 0;
	&:before,&:after {content: ""; display: table;}
	&:after {clear: both;}
	dt {
		float: left;
		font: {
			family: 'HelveticaNeueCyr-Roman';
		    size: 14px;
		}
		padding: 5px 3px 0 0;
	}
	dd {
		float: left;
		margin: 0 0 0 10px;
		a {
			opacity: 0.5;
			width: 29px;
			height: 29px;
			display: block;
			@include border-radius(50%);
			text-align: center;
			&:hover {
				text-decoration: none;
				opacity: 1.0;
			}
			&:before {
				content: "";
				display: inline-block;
				min-height: inherit;
				height: 100%;
				vertical-align: middle;
			}
			 i {
			    display: inline-block;
			    vertical-align: middle;
			    color: #fff;
			    position: relative;
			    left: -2px;
			    font-size: 17px;
			}
		}
	}
	&__item--facebook {
		a {background: #4363a2;}
	}
	&__item--vk {
		a {background: #5781ad;}
	}
}

.catalogWrap {
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 316px;
}



/* CATALOG PAGE */
.container {
	float: left;
    width: 100%;
}

.page {
	margin: 0 0 0 220px;
	padding: 24px 0 0 0;
	&__title {
		&:before,&:after {content: ""; display: table;}
		&:after {clear: both;}
    	border-bottom: 1px solid #b3b3b3;
    	padding: 0 0 13px 0;
    	font: {
			family: 'HelveticaNeueCyr-Medium';
		    size: 21px;
		}
		margin: 6px 0 6px 11px;
		position: relative;
		z-index: 10;
    }
    &__count {
    	color: #b2b2b2;
    	float: left;
    	padding: 3px 0 0 14px;
    }
    &__name {
    	margin: 0;
    	float: left;
    }
}

.sidebar {
	padding: 24px 0 0 0;
	float: left;
    margin-left: -100%;
    position: relative;
    width: 200px;
    &__title {
    	border-bottom: 1px solid #b3b3b3;
    	padding: 0 0 13px 0;
    	margin: 6px 0 12px 0;
    	font: {
			family: 'HelveticaNeueCyr-Medium';
		    size: 21px;
		}
		line-height: 1.4;
    }
}

.categories {
	font: {
		family: 'HelveticaNeueCyr-Roman';
	    size: 13px;
	}
	padding: 0 0 3px 0;
	&__title {
		text-transform: uppercase;
		font: {
			family: 'HelveticaNeueCyr-Roman';
		    size: 13px;
		}
	}
}

.submenu {
	padding: 0 20px 0 8px;
	&__item {
		padding: 10px 0 9px 0;
		> a {
			text-decoration: underline;
			position: relative;
			display: block;
			padding: 0 10px 0 0;
			&:before {
				content: "";
				background: url(../img/mx.png) -100px -213px no-repeat;
				width: 10px;
				height: 6px;
				position: absolute;
				right: 0;
				top: 5px;
			}

		}
		> a.activ {
			&:before {
				background-position: -100px -207px;
			}
		}
		ul {
			padding: 5px 0 0 10px;
			li {
				padding: 4px 10px 5px 0;
				a {
					&:hover {
						text-decoration: none;
					}
				}
				&.cur {
					a {
						color: #262626;
					}
				}
			}
		}
	}
	&__count {
		font-style: normal;
		color: #b2b2b2;
		padding: 0 0 0 7px;
	}
}

.sort {
	margin: 11px 0 0 0;
	font: {
		family: 'HelveticaNeueCyr-Roman';
	    size: 13px;
	}
	float: right;
	&__title {
		float: left;
	}
	&__item {
		float: left;
		padding: 0 0 0 12px;
		position: relative;
	}
	&__text {
		padding: 0 20px 0 0;
		position: relative;
		cursor: pointer;
		&:before {
			content: "";
			background: url(../img/mx.png) -100px -219px no-repeat;
			width: 10px;
			height: 6px;
			position: absolute;
			right: 0;
			top: 5px;
		}
	}
	&__list {
		display: none;
		padding: 3px;
		position: absolute;
		background: #fff;
		border: 1px solid #cbcbcb;
		white-space: nowrap;
		top: 120%;
		left: 0;
		box-shadow: 0 -2px 8px 1px rgba(0, 0, 0, 0.25);
	}
	&__it {
		cursor: pointer;
		position: relative;
		padding: 4px 20px;
		i {
			position: absolute;
			left: 2px;
			top: 6px;
			font-size: 10px;
			display: none;
		}
		&:hover {
			background: #849dfa;
			color: #fff;
		}
	}
}


.filter {
	&:before,&:after {content: ""; display: table;}
	&:after {clear: both;}
	padding: 8px 0 0 11px;
	&__title {
		float: left;
		font: {
			family: 'HelveticaNeueCyr-Bold';
		}
		padding: 0 15px 0 0;
	}
	&__item {
		float: left;
		font: {
			family: 'HelveticaNeueCyr-Roman';
		}
		padding: 0 22px 0 0;
	}
	&__name {
		padding: 0 21px 0 0;
		position: relative;
		cursor: pointer;
		color: #828282;
		&:before {
			content: "";
			background: url(../img/mx.png) -100px -213px no-repeat;
			width: 10px;
			height: 6px;
			position: absolute;
			right: 0;
			top: 5px;
		}
		&:hover {
			color: #262626;
			&:before {
				background-position: -100px -219px;
			}
		}
	}
}


.catalogList {
	padding: 42px 0 0 0;
	&__item {
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 32.7%;
		margin: 0 -4px 0 0.95%;
		border: 1px solid #fff;
		padding: 10px;
		&:hover {
			z-index: 1;
			border-color: #dcdcdc;
			.catalogList__add {
				display: block;
			}
		}
		&:nth-child(3n+1) {
			margin-left: 0;
		}
	}
	&__link:link,&__link:visited {
		display: block;
		color: #262626;
	}
	&__link:hover,&__link:active,&__link:focus {
		text-decoration: none;
	}
	&__pic {
		position: relative;
		img {
			width: 100%;
		}
	}
	&__discount {
		position: absolute;
		right: 10px;
		top: 10px;
		width: 46px;
		line-height: 46px;
		height: 46px;
		color: #fff;
		@include border-radius(50%);
		background: #e45555;
		text-align: center;
		font-style: normal;
		font: {
			family: 'HelveticaNeueCyr-Medium';
		    size: 14px;
		}
	}
	&__desc {
		font: {
			family: 'HelveticaNeueCyr-Roman';
		    size: 14px;  
		}
		padding: 7px 0 13px 0;
	}
	&__name {
		font-size: 13px;
		color: #b2b2b2;
		margin-bottom: 4px;
	}
	&__price {
		font: {
			family: 'HelveticaNeueCyr-Roman';
		    size: 14px;  
		}
	}
	&__add {
		background: #fff;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 0 10px 10px 10px;
		display: none;
	}
	&__info {
		padding: 5px 0 9px 0;
		li {
			padding: 5px 0 6px 0;
			p {
				margin: 0;
				font: {
					family: 'HelveticaNeueCyr-Roman'; 
				}
				span {
					color: #828282;
					padding: 0 4px 0 0;
				}
				i {
					font-style: normal;
					padding: 0 4px 0 0;
				}
			}
		}
	}
	&__more:link,&__more:visited {
		display: block;
		border: 1px solid #e45555;
		color: #e45555;
		text-align: center;
		@include border-radius(2px);
		padding: 7px 0;
		font: {
			family: 'HelveticaNeueCyr-Roman';
		    size: 15px;  
		}
	}
	&__more:hover,&__more:active,&__more:focus {
		text-decoration: none;
	}
}


.showMore {
	position: relative;
	margin-left: 11px;
	text-align: center;
	border-top: 1px solid #f2f2f2;
	padding: 20px 0 138px 0;
	a {
		display: inline-block;
		font: {
			family: 'HelveticaNeueCyr-Roman';
		    size: 15px;  
		}
		border: 1px solid #b3b3b3;
		color: #828282;
		@include border-radius(2px);
		padding: 7px 0;
		min-width: 234px;
		&:hover {
			text-decoration: none;

		}

	}

}


/* SHOPPING CART */
.cartWrap {
	padding: 24px 0 0 0;
	&:before,&:after {content: ""; display: table;}
	&:after {clear: both;}
	&__container {
		float: left;
    	width: 100%;
	}
	&__page {
		margin: 0 310px 0 0;
	}
	&__sidebar {
		float: left;
	    margin-left: -266px;
	    position: relative;
	    width: 266px;
	}
	&__title {
    	border-bottom: 1px solid #b3b3b3;
    	padding: 0 0 13px 0;
    	margin: 6px 0 12px 0;
    	font: {
			family: 'HelveticaNeueCyr-Medium';
		    size: 21px;
		}
		line-height: 1.4;
    }
	
}

.mainForm {
	padding: 18px 0 0 0;
	&__row {
		padding: 0 0 14px 0;
		&:before,&:after {content: ""; display: table;}
		&:after {clear: both;}
		> label {
			padding: 9px 0 0 0;
			width: 21.23%;
			float: left;
			font: {
				family: 'HelveticaNeueCyr-Medium';
			    size: 13px;
			}
		}
	}
	&__field {
		position: relative;
		width: 47.15%;
		float: left;
		input::placeholder {color: #262626;}
		.select2-container--classic .select2-selection--single .select2-selection__rendered {color: #262626;}
		textarea {
			min-height: 82px;
		}
		input.error {
			border-color: #e45555;
			box-shadow: 0 0 3px rgba(228,85,85,0.5);
		}
		label.error {
			color: #e45555;
			display: block;
			padding: 6px 0 0 0;
			font: {
				family: 'HelveticaNeueCyr-Roman'; 
			}
		}
	}

}

.errorPrompt {
	border: 1px solid #eee;
	background: #fff;
	width: 249px;
	position: absolute;
	top: 0;
	left: 103.3%;
	padding: 5px 16px 6px 16px;
	font: {
		family: 'HelveticaNeueCyr-Roman'; 
	}
	color: #e45555;
	line-height: 1.5;
	&:before {
		content: "";
		width: 0; 
		height: 0; 
		border-top: 9px solid transparent;
		border-bottom: 9px solid transparent;
		border-right: 9px solid #eee; 
		position: absolute;
		top: 7px;
		left: -10px;
		z-index: 2;
	}
	&:after {
		content: "";
		width: 0; 
		height: 0; 
		border-top: 9px solid transparent;
		border-bottom: 9px solid transparent;
		border-right: 9px solid #fff; 
		position: absolute;
		top: 7px;
		left: -9px;
		z-index: 3;
	}


}






/* FOOTER */
.footer {
	border-top: 1px solid #f2f2f2;
	&__col1 {
		float: left;
		width: 42.82%;
	}
	&__col2 {
		float: left;
		width: 18.09%;
	}
	&__col3 {
		float: left;
		width: 16.93%;
	}
	&__col4 {
		float: left;
		width: 22.16%;
	}
	&__title {
		font-size: 14px;
		padding: 26px 0 0 0;
	}
	&__phone {
		font: {
			family: 'HelveticaNeueCyr-Medium';
			size: 14px;
		}
		padding: 3px 0 0 0;
		&--first {
			padding-top: 7px;
		}
	}
	&__top {
		padding: 0 0 49px 0;
	}
	&__bottom {
		border-top: 1px solid #f2f2f2;
		font: {
			family: 'HelveticaNeueCyr-Roman';
		}
		color: #b2b2b2;
		padding: 14px 0 33px 0;
	}
	&__copy {
		width: 50%;
		float: left;

	}
	&__design {
		width: 50%;
		float: right;
		text-align: right;
		> a {
			color: #b2b2b2;
		}
	}
}

.footeMenu {
	padding: 4px 0 0 0;
	&:before,&:after {content: ""; display: table;}
	&:after {clear: both;}
	&__col1 {
		float: left;
		width: 52.92%;
	}
	&__col2 {
		float: left;
		width: 47.08%;
	}
}
.footerList {
	&__item {
		padding: 6px 0 7px 0;
		> a {
			font: {
				family: 'HelveticaNeueCyr-Medium';
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__item--activ {
		> a {
			color: #262626;
		}
	}
	&__item--cur {
		> a {
			color: #e45555;
		}
	}
}

.payments {
	background: url(../img/mx.png) 0 -200px no-repeat;
	width: 85px;
	height: 27px;
	display: inline-block;
	margin: 9px 0 0 0;
}

.social {
	&__item {
		display: inline-block;
		margin: 8px 6px 0 0;
		> a {
			opacity: 0.5;
			width: 29px;
			height: 29px;
			display: block;
			@include border-radius(50%);
			text-align: center;
			&:hover {
				text-decoration: none;
				opacity: 1.0;
			}
			&:before {
				content: "";
				display: inline-block;
				min-height: inherit;
				height: 100%;
				vertical-align: middle;
			}
			 i {
			    display: inline-block;
			    vertical-align: middle;
			    color: #fff;
			    position: relative;
			    left: -1px;
			}
		}
	}
	&__item--instagram {
		> a {background: #6a453b;}
	}
	&__item--facebook {
		> a {background: #4363a2;}
	}
	&__item--odnoklassniki {
		> a {background: #f2720c;}
	}
}









/* RESPONSIVE */
@media only screen and (max-width: 1205px) { 


}


@media only screen and (max-width: 1120px) { 


}

@media only screen and (max-width: 1024px) { 


}




