html, body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word; }

table {
  border-collapse: collapse;
  width: 100%; }

input:focus {
  outline: none; }

img, table {
  border: none; }

a:link, a:visited {
  color: #828282;
  text-decoration: none; }

a:hover, a:active, a:focus {
  color: #262626;
  text-decoration: underline;
  outline: 0; }

button {
  outline: none;
  cursor: pointer; }

svg:not(:root) {
  overflow: hidden; }

header, footer, article, section, hgroup, nav, menu, aside, figure, main, video, address, picture, figcaption {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 6px 0;
  line-height: 1.4;
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
  font-weight: normal; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 21px; }

h3 {
  font-size: 17px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 10px; }

h6 {
  font-size: 9px; }

ul, ol {
  list-style: none; }

p {
  margin: 6px 0;
  line-height: 1.4; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

::-webkit-input-placeholder {
  color: #262626; }

::-moz-placeholder {
  color: #262626; }

:-ms-input-placeholder {
  color: #262626; }

::placeholder {
  color: #262626; }

/* --------------------- 
INPUT FIELDS
--------------------- */
input[type=text],
input[type=password],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=search],
textarea {
  background: #fff;
  font-family: 'HelveticaNeueCyr-Roman';
  font-size: 13px;
  border: 1px solid #b3b3b3;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 6px 9px;
  color: #262626;
  width: 100%;
  height: 32px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  resize: vertical; }

input[type=text]:hover,
input[type=password]:hover,
input[type=url]:hover,
input[type=tel]:hover,
input[type=number]:hover,
input[type=color]:hover,
input[type=email]:hover,
input[type=search]:hover,
textarea:hover {
  border-color: #262626; }

:focus {
  outline: 0; }

body {
  background: #ffffff;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 13px;
  color: #262626; }

.inner {
  max-width: 1205px;
  margin: 0 auto; }
  .inner:before, .inner:after {
    content: "";
    display: table; }
  .inner:after {
    clear: both; }

.header__top {
  padding: 0 0 27px 0; }

.header__col1 {
  float: left; }

.header__col2 {
  float: right; }

.header__bottom {
  background: #f8f8f8;
  border: 1px solid #f2f2f2;
  border-width: 1px 0; }

.topMenu__item {
  padding: 42px 0 0 0;
  float: left;
  border-bottom: 1px solid #f2f2f2; }

.topMenu__item:first-child > a {
  margin-left: 0; }

.topMenu__link {
  font-family: 'HelveticaNeueCyr-Roman';
  border-bottom: 1px solid #f2f2f2;
  display: block;
  padding: 0 0 7px 0;
  margin-left: 18px;
  position: relative;
  top: 1px; }
  .topMenu__link:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #262626;
    display: none; }
  .topMenu__link:hover {
    text-decoration: none;
    border-bottom-color: #262626;
    color: #262626; }
    .topMenu__link:hover:after {
      display: block; }

.topMenu__item--activ > a {
  border-bottom-color: #262626;
  color: #262626; }
  .topMenu__item--activ > a:after {
    display: block; }

.order__item {
  padding: 43px 0 0 0;
  float: left;
  margin: 0 0 0 36px; }

.order__item--activ > a {
  color: #262626; }

.order__link {
  font-family: 'HelveticaNeueCyr-Roman';
  position: relative; }
  .order__link:after {
    content: "";
    background: url(../img/mx.png) no-repeat;
    position: absolute;
    left: 0; }
  .order__link:hover {
    text-decoration: none; }

.order__link--login {
  padding-left: 37px; }
  .order__link--login:after {
    background-position: -200px 0;
    width: 22px;
    height: 21px;
    top: -4px; }
  .order__link--login:hover:after {
    background-position: -200px -21px; }

.order__link--cart {
  padding-left: 43px; }
  .order__link--cart:after {
    background-position: -300px 0;
    width: 28px;
    height: 29px;
    top: -9px; }

a.logo {
  background: url(../img/mx.png) no-repeat;
  width: 178px;
  height: 63px;
  text-decoration: none;
  text-indent: -9000px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 15px;
  margin-left: -89px; }

.menu__item {
  float: left;
  margin: 0 0 0 21px; }

.menu__item:first-child {
  margin-left: 0; }

.menu__link {
  font-family: 'HelveticaNeueCyr-Medium';
  font-size: 15px;
  display: block;
  padding: 15px 0 17px 0;
  position: relative;
  top: 1px; }
  .menu__link:hover {
    color: #262626;
    border-bottom: 2px solid #262626;
    text-decoration: none;
    padding-bottom: 15px; }

.menu__item--activ > a {
  color: #262626;
  border-bottom: 2px solid #262626;
  text-decoration: none;
  padding-bottom: 15px; }

.menu__item--cur > a {
  color: #e45555; }
  .menu__item--cur > a:hover {
    border-bottom: 0;
    padding-bottom: 17px;
    color: #d72f2f; }

.searchForm {
  margin: 9px 0 0 0;
  position: relative; }
  .searchForm__field[type="text"] {
    width: 310px;
    padding-right: 65px;
    color: #b2b2b2; }
  .searchForm__field[type="text"]::-webkit-input-placeholder {
    color: #b2b2b2; }
  .searchForm__field[type="text"]::-moz-placeholder {
    color: #b2b2b2; }
  .searchForm__field[type="text"]:-ms-input-placeholder {
    color: #b2b2b2; }
  .searchForm__field[type="text"]::placeholder {
    color: #b2b2b2; }
  .searchForm__btn {
    position: absolute;
    right: 0;
    top: 0;
    background: #e45555;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    border: 0;
    width: 60px;
    height: 32px;
    text-indent: -9000px;
    overflow: hidden; }
    .searchForm__btn:hover {
      background: #d72f2f; }
    .searchForm__btn:after {
      content: "";
      background: url(../img/mx.png) -400px 0 no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 50%;
      margin-left: -10px;
      top: 6px; }

.mainSlider__title {
  font-family: 'HelveticaNeueCyr-Roman';
  font-size: 34px;
  padding: 14px 0 0 0;
  margin: 0;
  text-align: center; }

.slider {
  border: 1px solid #b3b3b3;
  border-width: 1px 0; }
  .slider img {
    border-right: 1px solid #b3b3b3; }

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
          border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

/* RESPONSIVE */
